body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/456/142/non_2x/artificial-green-grass-background-photo.jpg");
  }
h1 {
  color: orange;
}
img {
  width: 400px;
}
#thirdDiv {
  height: 600px;
  width: 500px;
  background-color: orange;
  padding: 50px;
  border: 20px black solid;
}
#spanId {
  font-size: 18px;
  margin: 50px;
}
